if SHIELD_SWEPT_DONGLE

config ZMK_KEYBOARD_NAME
    default "Swept"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_USB
    default y

endif

if SHIELD_SWEPT_DONGLE || SHIELD_SWEPT_LEFT || SHIELD_SWEPT_RIGHT

config ZMK_SPLIT
    default y

config ZMK_BLE
    default y

endif
