if SHIELD_SWEPT_DONGLE

config ZMK_KEYBOARD_NAME
    default "Swept"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 2

config ZMK_SLEEP
    default n

endif

if SHIELD_SWEPT_DONGLE || SHIELD_SWEPT_LEFT || SHIELD_SWEPT_RIGHT

config ZMK_SPLIT
    default y

endif

if SHIELD_SWEPT_LEFT || SHIELD_SWEPT_RIGHT

if ZMK_DISPLAY

config I2C
    default y

config SSD1306
    default y

endif # ZMK DISPLAY

endif
